# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{ es_cluster_name }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
node.name: {{ es_node_name }}

{% if 'elastic_coordinator' in inventory_hostname %}
node.master: false
node.data: false
node.ingest: false
cluster.remote.connect: false
search.remote.connect: false
node.ml: false
{% elif 'elastic_dm' in inventory_hostname %}
node.master: true
node.data: true
node.ingest: false
node.ml: false
search.remote.connect: false
xpack.ml.enabled: true
{% else %}
node.master: true
node.data: true
node.ingest: false
node.ml: false
search.remote.connect: false
xpack.ml.enabled: true
{% endif %}
#
# Add custom attributes to the node:
#
#node.attr.rack: r1
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
path.data: {{ es_data_dir }}
#
# Path to log files:
#
path.logs: {{ es_logs_dir }}
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
#bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
network.host : {{ es_network_host }}
#
# Set a custom port for HTTP:
#
#http.port: {{ es_http_port }}
#tcp.port: {{ es_tcp_port }}
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
discovery.zen.ping.unicast.hosts: [{% for host in groups['elastic_dm'] -%} "{{ hostvars[host]['m2m'] }}" {%- if not loop.last %}, {% endif -%}{%- endfor %}]
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
#
discovery.zen.minimum_master_nodes: 2
#
# For more information, consult the zen discovery module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true
{% if es_action_auto_create_index == true %}
action.auto_create_index: true
{% ELif not es_action_auto_create_index %}
action.auto_create_index: false
{% else %}
action.auto_create_index: {{ es_action_auto_create_index }}
{% endif %}

{% if es_enable_xpack == true %}
{% if not "security" in es_xpack_features %}
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.keystore.path: certs/elastic-certificates.p12
xpack.security.transport.ssl.truststore.path: certs/elastic-certificates.p12
{% endif %}

{% if not "monitoring" in es_xpack_features %}
xpack.monitoring.enabled: true
{% endif %}

{% if not "alerting" in es_xpack_features %}
xpack.watcher.enabled: true
{% endif %}

{% if not "ml" in es_xpack_features %}
xpack.ml.enabled: true
{% endif %}

{% if not "graph" in es_xpack_features %}
xpack.graph.enabled: true
{% endif %}
{% endif %}

#{% if es_mail_config is defined %}
#xpack.notification.email:
#  account:
#    {{ es_mail_config['account'] }}:
#      profile: {{ es_mail_config['profile'] }}
#      email_defaults:
#        from: {{ es_mail_config['from'] }}
#      smtp:
#        auth: {{ es_mail_config['require_auth'] }}
#        host: {{ es_mail_config['host'] }}
#        port: {{ es_mail_config['port'] }}
#        {% if es_mail_config['require_auth'] == true %}
#        user: {{ es_mail_config['user'] }}
#        password: {{ es_mail_config['pass'] }}
#        {% endif %}
#{% endif %}
